@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}

.top-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 70px;
    padding: 5px 20px;
    box-sizing: border-box;
    background-color:rgb(236, 106, 106);
}

.top-nav #title {
    font-size: 40px;
    line-height: 60px;
}

.top-nav .menu {
    display: flex;
    align-items: center;
    float: right;
    list-style: none;
    padding: 0px;
    margin: 10px 0px 0px 0px;
    line-height: 60px;
}

label {
    display: none;
    float: right;
    font-size: 24px;
    margin-right: 20px;
    line-height: 60px;
}

#toggle {
    display: none;
}

@media screen and (max-width: 600px) {
    .top-nav .menu {
        display: none;   
    }

    .top-nav .menu li {
        display: block;
    }

    label {
        display: block;
        cursor: pointer;
    }

    #toggle:checked + .menu {
        display: flex;
        justify-content: center;
        top: 60px;
        left: 0;
        position: fixed;
        width: 100vw;
        height: 50px;
        background-color: rgb(255, 196, 196);
    }
}

.search-container {
    display: flex;
    padding-right: 10px;
}

#search-bar {
    position: relative;
    margin-left: 10px;
    padding: 5px 10px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgb(168, 168, 168);
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#search-icon {
    margin: 4px 3px 0px 0px;
    opacity: 30%;
    height: 14px;
    width: 14px;
}

.unit-container {
    display: flex;
}

button#metric, button#imperial {
    border: none;
    background-color: transparent;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

button#metric.active, button#imperial.active {
    background-color: rgb(190, 80, 80);
    border-radius: 5px;
}

main {
    padding: 70px 20px 20px 20px;
}

main ul {
    list-style: none;
    margin: 0px;
    padding: 10px;
    text-align: center;
}

.current {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.current #currTempText-li {
    font-size: 50px;
}

.current #currentWeather-img, .current #currSunrise-img, #currSunset-img, #currWind-img {
    height: 50px;
    width: 50px;
}

#hourly-header, #daily-header {
    font-size: 20px;
    margin-top: 20px;
    padding: 10px;
    background-color:rgb(236, 106, 106);
}

/* horizontal scroll-bar */
.hourly { 
    display: flex;
    overflow: auto;
}

.daily ul {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #EAEAEB;
}

@media screen and (max-width: 600px) {
    .daily ul {
        display: block;
    }
}

.daily ul li {
    padding-left: 10px;
}