header {
    margin: 20px 5px 20px 5px;
    text-align: center;
    font-size: 40px;
}

#search-container {
    display: flex;
    justify-content: center;
}

#search-bar {
    position: relative;
    padding: 5px 10px;
    border: none;
    border-bottom: 1px solid #000;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#search-icon {
    margin: 4px 3px 0px 0px;
    opacity: 30%;
    height: 14px;
    width: 14px;
}